# Copyright (c) 2022 Zhang Shuai<zhangshuai.ustc@gmail.com>.
# All rights reserved.
#
# This file is part of ONE.
#
# ONE is free software: you can redistribute it and/or modify it under the
# terms of the GNU General Public License as published by the Free Software
# Foundation, either version 3 of the License, or (at your option) any later
# version.
#
# ONE is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
# A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with
# ONE. If not, see <https://www.gnu.org/licenses/>.

#
# Default build options. These are applied first and unconditionally.
#

common --enable_bzlmod
common --enable_platform_specific_config
common --registry=file://%workspace%/one-central-registry
common --registry=https://raw.githubusercontent.com/bazelboost/registry/main
common --registry=https://bcr.bazel.build

run --color=yes
build --color=yes

# https://bazel.build/remote/caching#known-issues
build --experimental_guard_against_concurrent_changes

build --incompatible_strict_action_env
build --host_force_python=PY3

build --action_env BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build --cxxopt="-std=c++17" --host_cxxopt="-std=c++17"
# Use gnu11 for asm keyword.
build --conlyopt="-std=gnu11" --host_conlyopt="-std=gnu11"
# Workaround for https://github.com/bazel-contrib/toolchains_llvm/issues/334
build --cxxopt="-Xclang" --cxxopt="-fno-cxx-modules"
# Enable hardening.
build --copt="-DONE_OPTION_HARDENED=1"

# Enable position independent code (this is the default on macOS and Windows)
# (Workaround for https://github.com/bazelbuild/rules_foreign_cc/issues/421)
build --copt=-fPIC

build --fission=dbg,opt
build --features=per_object_debug_info

# We already have absl in the build, define absl=1 to tell googletest to use absl for backtrace.
build --define absl=1

#
# BuildBuddy
#

# You need to put the API key in your ~/.bazelrc file or provide it from commandline.
build:buildbuddy --bes_results_url=https://app.buildbuddy.io/invocation/
build:buildbuddy --bes_backend=grpcs://remote.buildbuddy.io
build:buildbuddy --remote_cache=grpcs://remote.buildbuddy.io
build:buildbuddy --remote_timeout=3600
build:buildbuddy --experimental_remote_cache_compression --experimental_remote_cache_compression_threshold=100
build:buildbuddy --nolegacy_important_outputs
build:buildbuddy --noslim_profile --experimental_profile_include_target_label --experimental_profile_include_primary_output
build:buildbuddy --remote_download_outputs=all

build:buildbuddy-readonly --config=buildbuddy
build:buildbuddy-readonly --noremote_upload_local_results

#
# User
#

try-import %workspace%/user.bazelrc
