---
BasedOnStyle: Google
---
Language: Cpp

# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left

# Sort includes
# Use dev-support/bin/clang-format for LLVM 11 SortPriority feature.
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '<[^\.]+\.h>'  # C Standard Headers
    Priority: 10
  - Regex: '<.+>'  # C++ Standard Headers
    Priority: 20
  - Regex: '"(one|base|codelab|config|directory_manifest|gtl|nail|redirect_launcher|service|status|test|zkclient)\/.*'  # Project Headers
    Priority: 50
    SortPriority: 500
  - Regex: '.*'  # Others
    Priority: 50
    SortPriority: 50
